<%= form_for(@things_to_do) do |f| %>
  <% if @things_to_do.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@things_to_do.errors.count, "error") %> prohibited this things_to_do from being saved:</h2>

      <ul>
      <% @things_to_do.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :Title %><br>
    <%= f.text_field :Title %>
  </div>
  <div class="field">
    <%= f.label :Content %><br>
    <%= f.text_field :Content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
