<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @things_to_do.Name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @things_to_do.Title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @things_to_do.Content %>
</p>

<%= link_to 'Edit', edit_things_to_do_path(@things_to_do) %> |
<%= link_to 'Back', things_to_dos_path %>
