      <div class="container"> <!-- container start from here -->
        <div class="row">
        
      </div>
         </div><!-- container end here -->
    
        
        <div class="divider"></div>
        
        
        
        
        
        <div class="divider"></div>
        
        
        <div class="container"><!-- container start from here -->
        
        <div class="row"><!-- row start from here -->
       
        <div class="col-lg-2"></div>
      
        <div class="col-lg-2"></div>       
        
        </div><!-- row end here -->
        </div><!-- container end here -->  
        
  </div><!-- headerNav end here -->


  <div class="gap"></div>
    
 
 
 
 
 <!-- main body start from here --> 
  
    <div class="container">
  <div class="row">
          
            <div class="col col-sm-9"><!-------------------------------- content body start from here -------------------------------->
              
         
          <%= render "common/horizontal_ads" %>
             
             
             
              <div class="gap"></div>

<h5>Change Password</h5>
<div class="border"></div>

<div class="col col-sm-8 reviewForm">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


    
    <%= f.hidden_field :email%>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %> <br />
    <%= f.password_field :password, autocomplete: "off" , autofocus: true, :class=>'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" , :class=>'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", :class=>'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "Update", :class => "btn btn-success" %>
  </div>
<% end %>


</div>
</div>
