  		<div class="container"> <!-- container start from here -->
        <div class="row">
        
  		</div>
         </div><!-- container end here -->
 		
        
        <div class="divider"></div>
        
        
        
        
        
        <div class="divider"></div>
        
        
        <div class="container"><!-- container start from here -->
        
        <div class="row"><!-- row start from here -->
       
        <div class="col-lg-2"></div>
      
        <div class="col-lg-2"></div>       
        
        </div><!-- row end here -->
        </div><!-- container end here -->  
        
	</div><!-- headerNav end here -->


	<div class="gap"></div>
    
 
 
 
 
 <!-- main body start from here -->	
	
    <div class="container">
	<div class="row">
  			  
      		  <div class="col col-sm-9"><!-------------------------------- content body start from here -------------------------------->
              
         
          
              <%= render "common/horizontal_ads" %>
             
             
             
              <div class="gap"></div>

<h5>Profile</h5>
<div class="border"></div>

<div class="col col-sm-8 reviewForm">

<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
	<div class="error message">
	<h2>form is invalid</h2>
	<ul>
	  <%# @user.errors.full_message.each do |message| %>
	 <li><%#= message %></li> 
	  <%# end %>
	</ul>
	  </div>
	  <% end %>
	  <div class="form-group">
	  	<%= image_tag(@user.picture_url(:avatar), :class=>'img-circle img-responsive') if @user.picture.present?%>
		  <%= f.label :full_name %><br />
		  <%= f.text_field :full_name, :class=>'form-control' %>
		  </div>
		 <div class="form-group">
		  <%= f.label :email %><br />
		  <%= f.text_field :email, :disabled => true ,:class=>'form-control' %>
		  </div>
		  <!-- <p>
		  <%= f.label :change_password %><br />
		  <%= f.password_field :change_password ,:class=>'form-control'%>
	      </p> -->
	    <div class="form-group">
		  <%= f.label :picture %><br />
		  <%= f.file_field :picture%>
	     </div> 

	   <div class="form-group"><%= f.submit :class => "btn btn-success" %></div>
      <% end %>
			<%= link_to "Change Password", edit_user_registration_path %>
       </div>
   </div>
          