<!------ inner banner start from here ----> 
  <div class="banner1">
    <div class="container">
    <div class="col col-sm-12"
    <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><h2><%= @contact.Title %> </h2></div>
    <div class="col-sm-4"></div>
    </div></div>
    
    </div>
 
 
 
 
  <!---------------- inner banner end here ------------------------------------>      
 <div class="gap"></div>
 <!------- main body start from here ----------> 
 <!-- main body start from here --> 
  
    <div class="container">
  <div class="row">
          
            <div class="col col-sm-9"><!-------------------------------- content body start from here -------------------------------->
              
         
          
              <div class="row">
              <div class="col col-sm-12"> 
              <%= image_tag('bannerads.jpg',:class =>"img-responsive")%>
              
              </div> 
            </div>   
             
             
             
              <div class="gap"></div><br />
<br />
<br />
<br />
<br />
<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>Slug:</strong>
  <%= @contact.Slug %>
</p>
 -->
<p>
  <!-- <big><strong>Title:</strong></big> -->
  <big><strong><%= @contact.Title %></strong></big>
  
</p>

<p>
  <!-- <strong>Content:</strong> -->
  <%= @contact.Content.html_safe %>
</p>

<!-- <p>
  <strong>Order:</strong>
  <%= @contact.Order %>
</p>

<p>
  <strong>Home page:</strong>
  <%= @contact.Home_page %>
</p> -->
</div>

