<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
<%= f.label :category_id, class: 'field-label' %>
<div class="field">
<%= collection_select( :item, :category_id, Category.all, :id, :Name, {}, { :multiple => false } ) %>
</div>
</div>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :Description %><br>
    <%= f.text_area :Description %>
  </div>
  <div class="field">
    <%= f.label :Order %><br>
    <%= f.number_field :Order %>
  </div>

<p>
<h4>Description Table</h4>
</p>
<%= fields_for @description do |fa| %>
      <%=fa.label :Title %>
      <%=fa.text_field :Title %>

      <%=fa.label :Content %>
      <%=fa.text_field :Content %>

      <%=fa.label :Order %>
      <%=fa.text_field :Order %>

    
<% end -%>

<br />

<p>
<h4>Image Table</h4>
</p>
<%= fields_for @image, :html => {:multiple => true} do |fb| %>
      <%=fb.label :Title %>
      <%=fb.text_field :Title %>

      <%=fb.label :Content %>
      <%=fb.text_field :Content %>

      <%=fb.label :Order %>
      <%=fb.text_field :Order %>
     
      <%=fb.file_field :image %>
      <% end -%>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
