
   <!------ inner banner start from here ----> 

   
  <div class="banner1">
    <div class="container">
    <div class="col col-sm-12"
    <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><h2><%= @item.category.Name %> in Nepal</h2></div>
    <div class="col-sm-4"></div>
    </div></div>
    
    </div>
 
 
 
 
  <!---------------- inner banner end here ------------------------------------>      
 <div class="gap"></div>
 <!------- main body start from here ----------> 
  
    <div class="container">
  <div class="row">
          
            <div class="col col-sm-9"><!-------------------------------- content body start from here -------------------------------->
              
         
          
              
              <div class="col-sm-12"> 
              <div class="row">
              <img src="../assets/bannerads3.jpg" class="img-responsive"> 
              </div> 
            </div>   
             
             
             
              <div class="gap"></div>
              
             
             
             
             <div class="col-sm-12">
             <div class="row">
             <div class="pageTitle"> 
             
             
             <h5><%= @item.Name%> <small><%= @item.short_tag.html_safe %></small></h5>
             
             <div class="border"></div>
             <div class="gap"></div>

             
             
                             <div class="row">
                             
                             <div class="col-sm-4">


                             

                             <%= image_tag(@item.images[0].image_url(:big_thumb),  :class =>"mg-responsive mainImg", :id => "zoom_03")%>

                             

                                             <div class="row">
                                             <div class="thumImg">
                                             <% @item.images.each do |i| %>
                                             <div class="col col-sm-4 thumIcon">
                                            


                                             <%= image_tag(i.image_url(:small_thumb),  :class =>"img-responsive")%></div>
                                             <% end %>
                                             
                                             </div>
                                             </div>
                                             
                                             
                             <div class="viewAllImg"><a href="#">+ view Gallery</a></div>
                             </div>
                             
                             
                             <div class="col-sm-1"></div>
                             
                             <div class="col-sm-7">
                             <div id="weather"></div>
                             
                             <span class="likesReview" style="position:relative; top:20px;"><i class="fa fa-tags"></i> Category: <%= @item.category.Name %>
                             
                             <br style="margin:10px 0px;">286 LIKES / <span style="color:#5f9a16;">240 reviews</span></span>
                             </div>
                            
                            </div>
            
             </div>
             
             <div class="divider"></div>
          </div><!------------ row end ------------>  
            </div><!---------- col col-sm-12 end ----------> 
            
            
            
            
            <div class="col col-sm-12 shortInfo">
            <div class="row">
            
            <p><i><%= @item.Description.html_safe %></i></p>
            </div>
            </div>
            
       <% @item.descriptions.each do |a| %>
            
       <div class="col-sm-12">
             <div class="row">
             <div class="pageTitleTab"> 
             <h5><%= a.Title%></h5>
             <div class="border"></div>
             <div class="col col-sm-12 lawInfo">
             
             <li><%= a.Content %></li>
             
             
            
             </div> 
            </div>
          </div><!------------- row end ------------->    
            </div><!------------ col col-sm-12 end ------------>   
            
          <% end %>  
            
            
               
            
          
            
            
            <div class="col-sm-12">
            <div class="row">
            <div class="likeReply">
            <div class="col col-sm-7">
            Was this review helpful?: <span style="padding-left:10px;">Like</span> / <span style="color:#5f9a16;">Reply</span>
            </div>
            
            
            <div class="col col-sm-5 shareIcon">
            Share:
            <img src="assets/fa.jpg" class="img-responsive" >
            <img src="assets/twitter.jpg" class="img-responsive" >
            <img src="assets/g+.jpg" class="img-responsive" >
            <img src="assets/pin.jpg" class="img-responsive">
            <img src="assets/in.jpg" class="img-responsive">
            
            </div>
            
            </div>
          </div>
            </div>
        
          
            
             <div class="col-sm-12">
             <div class="row">
             <div class="youMayPageTitleTab"> 
             <h5>You May Also Like</h5>
            
             <div class="border"></div>
             
              
                
                
                
                <div class="row">
                 <!---------- row start ---------->
                 <% @items.each do |b| %>
                <div class="col-sm-3"><img class="img-responsive" src="assets/trekking/trek4.png">
                <div class="youMayPlaceInfo">
                <span class="youMayMainTitle"><%= b.Name %></span></br>
                <span class="youMayMainTitleLocation">Langtang, Nepal</span></br>
                <span class="youMayLikesReview">286 LIKES / <span style="color:#5f9a16;">240 reviews</span></span>
                </div></div>
                
                <% end %>
                
                </div><!---------- row end ---------->
                
            
          </div>
          </div><!------------- row end ------------->    
            </div><!------------ col col-sm-12 end ------------>      
        
            
            
            
        
        
        
        <div class="col-sm-12">
             <div class="row">
             <div class="pageTitleTab"> 
             <h5>Reviews on Visa processing</h5>
             <div class="border"></div>
             <h4><small>Write your Reviews / Comments:</small></h4>
             <div class="col col-sm-8 reviewForm">
             
             <form>
         <div class="form-group">
         Title of your review:
         <input type="" class="form-control" id="reviewTitle">
         </div>
             
         <div class="form-group">
             Your review:
         <textarea class="form-control" rows="3"></textarea>
         </div>
         
             <button type="submit" class="btn btn-success">Submit your reviews</button>
       </form>
             </div> 
          </div>
          </div><!------------- row end ------------->    
            </div><!------------ col col-sm-12 end ------------> 
            
            
            
             <div class="col-sm-12">
             <div class="row">
             
             <div class="gap"></div>
             <div class="gap"></div>
             <div class="border"></div>
             
             <div class="review">
             <div class="col col-sm-2">
             <div class="row">
             <img src="assets/man.png" class="img-responsive">
              <div class="reviewerName">John Cena </div>
             </div>
             </div>
             
             
             <div class="col col-sm-10">
             <div class="row">
             
             <div class="reviewTitle">“Quasi artfchecto beatae”</div>
             <span class="reviewDate"><h5> <small> December 31, 2014</small></h5></span>
             
             <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim          ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,               consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
            
       
             <div class="likeNReply">
             <img src="assets/like.jpg"><span style="padding:0 20px 0 5px;">20</span> Was this review helpful?: <span style="padding-left:3px;">Like</span> / <span style="color:#5f9a16;">Reply</span>
             </div>
             
             
             
                              
                                                
                                                     <div class="comment">
                                                     <div class="col col-sm-2">
                                                     <div class="row">
                                                     <img src="assets/girl.jpg" class="img-responsive">
                                                      <div class="reviewerName">Pholmati Devi </div>
                                                     </div>
                                                     </div>
                                                     
                                                     
                                                     <div class="col col-sm-10">
                                                     <div class="row">
                                                     
                                                     <div class="reviewTitle">@John Cena</div>
                                                     <span class="reviewDate"><h5> <small> December 31, 2014</small></h5></span>
                                                     
                                                     <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae                              ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui ,                              consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
                                                    
                                               
                                                     <div class="likeNReply">
                                                     <img src="assets/like.jpg"><span style="padding:0 20px 0 5px;">20</span> Was this review helpful?: <span style="padding-left:3px;">Like</span> / <span style="color:#5f9a16;">Reply                                     </span>
                                                     </div>
                                                    
                                                     
             
                      
                                
                                
                                
                                
                                
                                
                                
             </div>
             </div><!----------- col col-sm-10 end ---------->  
            
            </div><!---------- review end ----------> 
            
           
                      
                                
                                
                                
                                
                                
                                
                                
             </div>
             </div><!----------- col col-sm-10 end ------------>  
            
            </div><!---------- review end -------->  
          </div><!------------ row end ------------>    
            </div><!------------ col col-sm-12 end ------------> 
            
            
            
            
             
</div><!------------------------------- content body end here --------------------------------> 
        
        
        
        
        
        
         <div class="col col-sm-3"><!-------------------------------- rightPanel start from here -------------------------------->
         <div class="rightPanel">
                <div class="adsTitle"><i class="fa fa-rocket"></i> Advertisement </div>
                
                <div class="adsBanner">
                <img class="img-responsive" src="assets/ads03.jpg">
                </div>
                
                <div class="adsBanner">
                <img class="img-responsive" src="assets/ads02.jpg">
                </div>
                
                <div class="adsBanner">
                <img class="img-responsive" src="assets/ads01.jpg">
                </div>
                </div>
                
               
               <div class="quickLinks">Quick Links</div>
               <hr style="margin-top:8px;">
               <div class="quickLinksMenu">
               <p >Talk to us
               </br>
         <span><a href="#">- Send feedback or report a problem</a></span>
         </p>
         
               <p>For owners
               </br>
               <span><a href="#">- Business Listings for hotel marketing</a></span>
               </br>
               <span><a href="#">- Visit your Management Center</a></span>
               </p>

               <p>Advertise with us
               </br>
               <span><a href="#">- Find out about advertising or partnering with us</a></span>
               </p>
               </div>
               <hr>
               
               <div class="followUs">Follow Us On</div>
               <hr style="margin-top:8px;">
               <div class="followIcon">
               <a href="#"><img src="assets/facebook-img.png"></a>
               <a href="#"><img src="assets/twitter-img.png"></a>
               </div>
               <hr style="margin-top:8px;">
         </div><!-------------------------------- rightPanel end here -------------------------------->


</div>
</div>   
   
 <!------------------------------------------------------------------ main body end here ---------------------------------------------------------------->     
   



 <script type="text/javascript"> 
 $("#zoom_03").elevateZoom({gallery:'gallery_01', cursor: 'pointer', galleryActiveClass: 'active', imageCrossfade: true, loadingIcon: 'http://www.elevateweb.co.uk/spinner.gif'}); 
  $("#zoom_03").bind("click", function(e) { 
  
  var ez = $('#zoom_03').data('elevateZoom');   
   $.fancybox(ez.getGalleryList()); 
   return false; }); 
  </script>

