
   <!------ inner banner start from here ----> 
  <div class="banner1">
    <div class="container">
    <div class="col col-sm-12"
    <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><h2><%= @item.category.Name %> in Nepal</h2></div>
    <div class="col-sm-4"></div>
    </div></div>
    
    </div>
 
 
 
 
  <!---------------- inner banner end here ------------------------------------>      
 <div class="gap"></div>
 <!------- main body start from here ----------> 
  
    <div class="container">
  <div class="row">
          
            <div class="col col-sm-9"><!-------------------------------- content body start from here -------------------------------->
              
         
          
              
              <div class="col-sm-12"> 
              <div class="row">
              
              <%= image_tag('bannerads3.jpg',:class =>"img-responsive")%>
              </div> 
            </div>   
             
             
             
              <div class="gap"></div>
              
             
             
             
             <div class="col-sm-12">
             <div class="row">
             <div class="pageTitle"> 
             
             
             <h5><%= @item.Name%><small><%= @item.short_tag.html_safe %></small></h5>
             
             <div class="border"></div>
             <div class="gap"></div>

             
             
                             <div class="row">
                             
                             <div class="col-sm-4">


                             
                            <div class="showimagediv">
                             <%= image_tag(@item.images[0].image_url(:big_thumb),  :class =>"mg-responsive ", :id => "zoom_031") if @item.images[0].present? %>
                            </div>
                             

                                             <div class="row">
                                             <div class="thumImg">
                                             <% @item.images.each do |i| %>
                                             <div class="col col-sm-4 thumIcon">
                                            


                                             <%= image_tag(i.image_url(:small_thumb),  :class =>"img-responsive gallerythumbnail")%></div>
                                             <% end %>
                                             
                                             </div>
                                             </div>
                                             <div class="viewAllImg"><a href="#">+ view Gallery</a></div>
                                             
                             
                             </div>
                             
                             
                             <div class="col-sm-1"></div>
                             
                             <div class="col-sm-7">
                             <div id="weather"></div>
                             
                             <span class="likesReview" style="position:relative; top:20px;"><i class="fa fa-tags"></i> Category: <%= @item.category.Name %>
                             
                             <br style="margin:10px 0px;">286 LIKES / <span style="color:#5f9a16;">240 reviews</span></span>
                             </div>
                            
                            </div>
            
             </div>
             
             <div class="divider"></div>
          </div><!------------ row end ------------>  
            </div><!---------- col col-sm-12 end ----------> 
            
            
            
            
            <div class="col col-sm-12 shortInfo">
            <div class="row">
            
            <p><i><%= @item.Description.html_safe %></i></p>
            </div>
            </div>
            
       <% @item.descriptions.each do |a| %>
            
       <div class="col-sm-12">
             <div class="row">
             <div class="pageTitleTab"> 
             <h5><%= a.Title%></h5>
             <div class="border"></div>
             <div class="col col-sm-12 lawInfo">
             <%= a.Content.html_safe %>
             
             
            
             </div> 
            </div>
          </div><!------------- row end ------------->    
            </div><!------------ col col-sm-12 end ------------>   
            
          <% end %>  
            
            <div class="col-sm-12">
            <div class="row">
            <div class="likeReply">
            <div class="col col-sm-7">
            Was this review helpful?: <span style="padding-left:10px;">Like</span> / <span style="color:#5f9a16;">Reply</span>
            </div>
            
            
            <div class="col col-sm-5 shareIcon">
            Share:
            <%= link_to image_tag('fa.jpg',:class =>"img-responsive"), "http://www.facebook.com" %>
            <%= link_to image_tag('twitter.jpg',:class =>"img-responsive"), "http://www.twitter.com" %>
            <%= link_to image_tag('pin.jpg',:class =>"img-responsive"), "http://www.pinterest.com" %>
            <%= link_to image_tag('in.jpg',:class =>"img-responsive"), "http://www.linkedin.com" %>
            <%= link_to image_tag('g+.jpg',:class =>"img-responsive"), "https://plus.google.com" %>
            
            </div>
            
            </div>
          </div>
            </div>
             <div class="col-sm-12">
             <div class="row">
             <div class="youMayPageTitleTab"> 
             <h5>You May Also Like</h5>
            
             <div class="border"></div>
                <div class="row">
                 <!---------- row start ---------->
                 <% @items.each do |b| %>
                <div class="col-sm-3">
                <% if b.images[0].present? %>
                <%= link_to image_tag(b.images[0].image_url(:thumb),:class =>"img-responsive"), item_path(b)   %>
               <% else %>
               <%= link_to image_tag("nowall.jpg", :class=>"img-responsive"), item_path(b) %>
               <% end %>
                <div class="youMayPlaceInfo">
                <span class="youMayMainTitle"><%= b.Name %></span></br>
                <span class="youMayMainTitleLocation"><%= b.short_tag%></span></br>
                <span class="youMayLikesReview">286 LIKES / <span style="color:#5f9a16;">240 reviews</span></span>
                </div></div>
                
                <% end %>
                
                </div><!---------- row end ---------->
                
            
          </div>
          </div><!------------- row end ------------->    
            </div><!------------ col col-sm-12 end ------------>      
        
            
            
            
        
        
        
        <div class="col-sm-12">
             <div class="row">
             <div class="pageTitleTab"> 
             <h5>Reviews on Visa processing</h5>
             <div class="border"></div>
             <h4><small>Write your Reviews / Comments:</small></h4>
             <div class="col col-sm-8 reviewForm">
             
             
        
         <!-- Title of your review: -->

         <%= render :partial => 'reviews/form', :locals => {:item_id => @item.id} %>
        <!--  <input type="" class="form-control" id="reviewTitle">  -->
        
             
        
         
             <!-- <button type="submit" class="btn btn-success">Submit yo --><!-- ur reviews</ --><!-- button> -->
       

             </div> 
          </div>
          </div><!------------- row end ------------->    
            </div><!------------ col col-sm-12 end ------------> 
            
            
            
             <div class="col-sm-12">
             <div class="row">
             
             <div class="gap"></div>
             <div class="gap"></div>
             <div class="border"></div>
             
             <div class="review">
             
             <% @item.reviews.each do |g| %>
             <div class="col col-sm-2">
             <div class="row"><%= g.user_id %>
             <%= image_tag('man.png',:class =>"img-responsive")%>
             
              <div class="reviewerName"> <% user=User.find_by_id(g.user_id) %><%= user.email %> </div>
             </div>
             </div>
             
             
             <div class="col col-sm-10">
             <div class="row">
             <div class="reviewTitle"><%= g.title %></div>
             <span class="reviewDate"><h5> <small> December 31, 2014</small></h5></span>
             <p><%= g.description%> </p>
              <div class="likeNReply">
             <%= image_tag('like.jpg',:class =>"img-responsive")%><span style="padding:0 20px 0 5px;">20</span> Was this review helpful?: <span style="padding-left:3px;">Like</span> / <span style="color:#5f9a16;">Reply</span>
             </div>
             </div>
             </div>
             <% end %>
            
            </div><!---------- review end ----------> 
          </div><!------------ row end ------------>    
            </div><!------------ col col-sm-12 end ------------> 
</div><!------------------------------- content body end here --------------------------------> 
 


 <script type="text/javascript"> 
 $("#zoom_03").elevateZoom({gallery:'gallery_01', cursor: 'pointer', galleryActiveClass: 'active', imageCrossfade: true, loadingIcon: 'http://www.elevateweb.co.uk/spinner.gif'}); 
  $("#zoom_03").bind("click", function(e) { 
  
  var ez = $('#zoom_03').data('elevateZoom');   
   $.fancybox(ez.getGalleryList()); 
   return false; }); 



  $(document).ready(function() {
    $('.gallerythumbnail').on('click', function() {
        var img = $('<img />', {src    : this.src,
                                'class': 'fullImage'
                  });

        $('.showimagediv').html(img).show();
    });
});
  </script>

