
  
  
  
  		<div class="container"> <!-- container start from here -->
        <div class="row">
        
  		</div>
         </div><!-- container end here -->
 		
        
        <div class="divider"></div>
        
        
        <div class="container">
        <div class="row">
        <div class="col col-sm-12 navIcon">
        
        

          <div class="col col-sm-2 navIconButton">
            

            
          </div>
        

        
        
        
      
       
        </div>
       </div>
       </div>
        
        
        <div class="divider"></div>
        
        
        <div class="container"><!-- container start from here -->
        
        <div class="row"><!-- row start from here -->
       
        <div class="col-lg-2"></div>
      
        <div class="col-lg-2"></div>       
        
        </div><!-- row end here -->
        </div><!-- container end here -->  
        
	</div><!-- headerNav end here -->


	<div class="gap"></div>
    
 
 
 
 
 <!-- main body start from here -->	
	
    <div class="container">
	<div class="row">
  			  
      		  <div class="col col-sm-9"><!-------------------------------- content body start from here -------------------------------->
              
         
          
              <div class="row">
              <div class="col col-sm-12"> 
               <%= image_tag('bannerads.jpg',:class =>"img-responsive")%> 
              </div> 
        	  </div>   
             
             
             
              <div class="gap"></div>
<br/>
<br/>
<br/>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @destination.Name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @destination.Title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @destination.Content %>
</p>

<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>

          </div>      
          
        
         <div class="col col-sm-3"><!-- rightPanel start from here -->
         



</div>   
   
 <!-- main body end here -->	   
   
