<!DOCTYPE html>
<html>
<head>
  <title>NepalAdvisor</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/style.css" rel="stylesheet">
    <link href="/assets/custom.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/assets/ie-emulation-modes-warning.js"></script>
    <link href="/assets/lightbox.css" rel="stylesheet">
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%#= stylesheet_link_tag    'application' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<body>

   <!-- innerNavHead start from here -->  
  <div class="innerNavHead"> 
  <!-- Header -->
  <header class="header-container">
    
    <div class="header container">
      <div class="row">
        <div class="col col-md-5"> 
          <!-- Header Logo --> 
           <%= link_to image_tag("logo.png", :class=>'logo'), root_path %> 
          <!-- End Header Logo --> 
        </div>

        
        <div class="col col-md-4 loginNJoinus">
        <ul>
        
         <% if signed_in? %>
          
          <li><%= link_to "Profile", profile_path %></li>
          <li>&nbsp;</li>
          <% if can? :update, @items %>
              <li><%= link_to "Admin", admin_root_path %></li>
          <% end %>
          <li><%= link_to "LogOut", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "Change_password", edit_user_registration_path %></li>
        <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><%= link_to "Join Us", new_user_registration_path %></li>
        <% end %>
        </ul>
        </div>
        
        
        <div class="col col-md-3"> 
          <!-- Search-col -->
          <div class="searchBox" style="float:right;">
                            <%= form_tag('/search', :class=>"searchBar") do %>
                                <div class="input-group">
                               <!--  <input type="text" class="form-control" placeholder="search..." style="height:27px; border:none;"> -->
                               <%= text_field_tag 'q','', :class=>'form-control',:placeholder=>'search...',:style=>'height:27px' %>
                                <span class="input-group-btn"><button class="btn searchButton" type="submit"><i class="fa fa-paper-plane"></i></button></span>
                                </div>
                            <% end %>
          </div>
          <!-- End Search-col --> 
        </div>
        
        
        
      </div>
    </div>
  </header>
  <!-- end header --> 

  <!-- Navbar -->
  <nav>
    <div class="container">
      <div class="nav-inner"> 
        <!-- mobile-menu -->
        <div class="hidden-desktop" id="mobile-menu">
          <ul class="navmenu">
            <li>
              <div class="menutop">
                <div class="toggle"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></div>
                <h2>menu</h2>
              </div>
              <ul style="display:none;" class="submenu">
                <li>
                  <ul class="topnav">
                    <% @menus.each do |category| %>
                  <li><%= link_to category.Name,list_items_show_path(category.slug)%></li>
                  <% end %>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <!--navmenu--> 
        </div>
       
        
        <!--End mobile-menu -->
        <ul id="nav">
          <li><a href="<%= root_path %>"><span>WHY ARE YOU INTERESTED TO VISIT NEPAL?:</span> </a></li>
          <% @menus.each do |category| %>
                  <li><%= link_to category.Name,list_items_show_path(category.slug)%></li>
                  <% end %>
          
        </ul>
      </div>
    </div>
    
  </nav>
  <!-- end nav --> 

</div>


   <p><%= notice %></p>
   <p><%= alert %></p>
    
   
   
   <%= yield %>
<p><%= notice %></p>
<p><%= alert %></p>

  <div class="col col-sm-3"><!-------------------------------- rightPanel start from here -------------------------------->
         <div class="rightPanel">
                <div class="adsTitle"><i class="fa fa-rocket"></i> Advertisement </div>
                
                
                <% @vertical_advertisement.each do |add| %>

                <div class="adsBanner">
                    <%= image_tag add.image_url(:vertical), :class => "img-responsive"%>
                  </div>
                  
                <% end %>
               
               
                </div>
                
               
               <div class="quickLinks"><%= @quicklinks.Title.html_safe.html_safe %></div>
               <hr style="margin-top:8px;">
               <div class="quickLinksMenu">
               <%= @quicklinks.Content.html_safe %>
               </div>
               <hr>
               
               <div class="followUs">Follow Us On</div>
               <hr style="margin-top:8px;">
               <div class="followIcon">
               <%= link_to image_tag('facebook-img.png',:class =>"img-responsive"), "http://www.facebook.com" %>
               <%= link_to image_tag('twitter-img.png',:class =>"img-responsive"), "http://www.twitter.com" %>
               </div>
               <hr style="margin-top:8px;">
         </div><!-------------------------------- rightPanel end here -------------------------------->
        
        
        
        
        
  
   
   
   
   <div class="gap"></div>
   
   
   
   
   
   </div>
</div>   
   
 <!-- main body end here -->     
   
   
   
   
   <div class="gap"></div>
   
   
   
   
   
   <!-- footer start from here -->
   <div class="container">
   <div class="row">
      
        <div class="col col-sm-12">
      <div class="footer">
        
   
      <div class="col col-sm-7 footerNav">
        <ul>
        <% @footer_menus.each do |ki| %>
        <li><%= link_to ki.Title, cms_path(ki.Slug) %></li>
        <% end %>
      
      
        </ul>
        
       
        <p>&copy; 2015 nepaladviser. All rights reserved.</p>

        
      </div>
   
   
  
      <div class="col col-sm-5 policyNote">
        <p>* nepaladviser is not a booking agent and does not charge any service fees to users of our site... <span class="policyNoteMore"><a href="#">(more)</a></span>
    nepaladviser is not responsible for content on external web sites. Taxes, fees not included for deals content.</p>
        
        </div>
        
        </div>
      </div>    
   
   
   </div>
   </div>
      <!-- footer start from here --> 
    <!--- script for tab start here-->
    <script>
    $(function(){
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      // Get the name of active tab
      var activeTab = $(e.target).text(); 
      // Get the name of previous tab
      var previousTab = $(e.relatedTarget).text(); 
      $(".active-tab span").html(activeTab);
      $(".previous-tab span").html(previousTab);
      });
  });
  </script>
  <!--- script for tab end here--->   
  <!--- script for tab end here-->    
  
  <script src="/assets/lightbox.js"></script>
  </body>
</html>
      