<!DOCTYPE html>
<html>
<head>
  <title>NepalAdvisor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<body>
 <!-- topHead start from here --> 
  <div class="topHead">
    <div class="container">
            
                    <div class="row">
                    <div class="col col-sm-12">
                    
                        <div class="col col-sm-6">
                        <div class="logo2">
                        <%= link_to image_tag("logo.png"), root_path %> 
                        <!-- <a href="index.html"> -->
                        <!-- <img class="img-responsive" src="assets/logo.png"> -->
                        </div>
                        </div> 
                    
                    
                    
                        <div class="col col-sm-3">
                        <div class="logNJoin">
                            <ul class="navbar-right">
                        <li><%= link_to "Login", log_in_path %></li>

                        <li><%= link_to "Join Us", sign_up_path %></li>
                            </ul>
                            </div>
                        </div>
                    
                    
                        <div class="col col-sm-3">
                            <div class="searchBox">
                              <%= form_tag('/search') do %>
                                <div class="input-group text-center">
                               <!--  <input type="text" class="form-control " title="" placeholder="Search about Nepal..." style="height:30px;"> -->
                               <%= text_field_tag 'q','', :class=>'form-control',:placeholder=>'Search about Nepal...',:style=>'height:30px' %>
                                <span class="input-group-btn"><button class="btn btn-lg btn-success2" type="submit"><i class="fa fa-paper-plane small"></i></button></span>
                                </div>
                            <% end %>
                        </div>
                            </div> 
                   
                   
                    </div>
                    </div>
    
    
    
    
    </div>
    </div>
   
   <!-- topHead end here -->   
   
    
   <div class="col col-sm-12 innerNav">
          <nav class="navbar navbar-inverse navbar-fixed-top"> <!--- nav start from here -->
                <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                </div>
        
                <div id="navbar" class="collapse navbar-collapse nav2">
                  <ul class="nav navbar-nav">
                        <li>Why are you interested to visit Nepal?:</li>
                        <li> <%= link_to "Trekking", trekking_path %> </li>
                        <li> <%= link_to "Tourism", tourism_path %> </li>
                        <li> <%= link_to "Culture", culture_path %> </li>
                        <li> <%= link_to "Business", business_path %> </li>
                        <li> <%= link_to "Legal", legal_path %> </li>
                        <li> <%= link_to "Visa", visa_path %> </li>
                       
                </ul>
                        
                       
                      
                </div><!--/.nav-collapse -->
                </div>
          </nav><!--- nav end here -->
   
   
   
  </div>
   
   <%= yield %>
   
  
      <!-- footer start from here -->
    <div class="container">
   <div class="row">
      
        <div class="col col-sm-12">
      <div class="footer">
        
   
      <div class="col col-sm-7 footerNav">
        <ul>
      <li><a href="#">About Us</a></li>
        <li><a href="#">Site Map</a></li>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy Policy</a></li>
        </ul>
        
       
        <p>&copy; 2015 nepaladviser. All rights reserved.</p>

        
      </div>
   
   
  
      <div class="col col-sm-5 policyNote">
        <p>* nepaladviser is not a booking agent and does not charge any service fees to users of our site... <span class="policyNoteMore"><a href="#">(more)</a></span>
    nepaladviser is not responsible for content on external web sites. Taxes, fees not included for deals content.</p>
        
        </div>
        
        </div>
      </div>    
   
   
   </div>
   </div> 
      