<!DOCTYPE html>
<html>
<head>
  <title>NepalAdvisor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<body>
 <!-- topHead start from here --> 
  <div class="topHead">
    <div class="container">
            
                    <div class="row">
                    <div class="col col-sm-12">
                    
                        <div class="col col-sm-6">
                        <div class="logo2">
                        <%= link_to image_tag("logo.png"), root_path %> 
                        <!-- <a href="index.html"> -->
                        <!-- <img class="img-responsive" src="assets/logo.png"> -->
                        </div>
                        </div> 
                    
                    
                    
                        <div class="col col-sm-3">
                        <div class="logNJoin">
                            <ul class="navbar-right">
                        <!-- <li><a href="#">Login</a></li> -->
                        <li><%= link_to "Login", log_in_path %></li>

                        <li><%= link_to "Join Us", sign_up_path %></li>
                            </ul>
                            </div>
                        </div>
                    
                    
                        <div class="col col-sm-3">
                            <div class="searchBox">
                        <form class="form">
                      <div class="input-group text-center">
                      <input type="text" class="form-control " title="" placeholder="Search about Nepal..." style="height:30px;">
                      <span class="input-group-btn"><button class="btn btn-lg btn-success2" type="submit"><i class="fa fa-paper-plane small"></i></button></span>
                      </div>
                      </form>
                        </div>
                            </div> 
                   
                   
                    </div>
                    </div>
    
    
    
    
    </div>
    </div>
   
   <!-- topHead end here -->   
   
    
   <div class="col col-sm-12 innerNav">
          <nav class="navbar navbar-inverse navbar-fixed-top"> <!--- nav start from here -->
                <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                </div>
        
                <div id="navbar" class="collapse navbar-collapse nav2">
                  <ul class="nav navbar-nav">
                        <li>Why are you interested to visit Nepal?:</li>
                        <li> <%= link_to "Trekking", trekking_path %> </li>
                        <li> <%= link_to "Tourism", tourisum_path %> </li>
                        <li> <%= link_to "Culture", culture_path %> </li>
                        <li> <%= link_to "Business", business_path %> </li>
                        <li> <%= link_to "Legal", legal_path %> </li>
                        <li> <%= link_to "Visa", visa_path %> </li>
                       
                </ul>
                        
                       
                      
                </div><!--/.nav-collapse -->
                </div>
          </nav><!--- nav end here -->
   
   
   
  </div>
   
   <%= yield %>
   
  
      <!------------------------------------------------------------------- footer start from here -------------------------------------------------------------------> 
   
   
    
   
   
   
   
    <!-- Bootstrap core JavaScript
   -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/jquery.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/ie10-viewport-bug-workaround.js"></script>
    
    
    <!-- script for tab start here-->
    <script>
    $(function(){
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      // Get the name of active tab
      var activeTab = $(e.target).text(); 
      // Get the name of previous tab
      var previousTab = $(e.relatedTarget).text(); 
      $(".active-tab span").html(activeTab);
      $(".previous-tab span").html(previousTab);
      });
  });
  </script>
  <!-- script for tab end here -->    


</body>
</html>
